.layout{
    display: flex;
    height: 10%;
    margin: 5px;
    outline: 3px solid black;
}

.textarea{
    outline: none;
    height: 90%;
    width: 70%;
    resize: none;
    overflow-wrap: break-word;
}

.button{
    opacity: 0.5;
    flex: 1 1 auto;
}