
.app{
    
    margin: auto;
    height: 600px;
    width: 350px;
    /* border: 3px solid black;
    border-radius: 5px; */
    background-color: grey;
    margin-top: 20px;
}

.output{
    padding: 10px;
    height: 90%;
    overflow-y: auto;
    overflow-wrap: break-word;
}

.input{
    margin: 0;
    position: relative;
    height: 10%;
}

textarea{
    outline: none;
    right: 30%;
    box-sizing: border-box;
    height: 100%;
    width: 70%;
    resize: none;
    overflow-wrap: break-word;
}

button{
    box-sizing: border-box;
    position: absolute;
    left: 70%;
    height: 100%;
    width: 30%;
    outline: none;
}

button:active{
  background-color: black;
  color: white;
}

.message-container{
    width: 90%;
}

.message{
    margin: 0;
    width: 100%;
    border-bottom: 3px solid black;
}


::-webkit-scrollbar{
    display: none;
}


.Click{
    background-color: red;
}

*{
    margin: 0;
    padding: 0;
}