
.app-view{
    float: left;
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 100%;
    width: 100%;
}

.app{
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    margin: auto;
    height: 600px;
    width: 350px;
    border: 3px solid black;
    background-image: url(https://s.poembook.ru/theme/36/3a/ce/29b6ab581f5ec62bf07713c974000f5559ba74fb.jpeg);
}
.menu-view{
    position: absolute;
    height: 20px;
    width: 20px;
    right: 0;
    background-image: url(https://cdn3.iconfinder.com/data/icons/common-icons-1/512/BT_menu-64.png);
    background-color: #ff6600;
    background-size: cover;
}

.menu-view:hover .menu{
    display: flex;
    flex-direction: column;
}

.menu{
    display: none;
    position: absolute;
    top: 20px;
    right: 0;
    background-color: #ff6600;
    border: 2px solid black;
    border-right: none;
}

.picture-container{
    margin-top: 20px;
    margin: auto;
    width: 90%;
    height: 95%;
    overflow-y: auto;
    overflow-wrap: break-word;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
}

.picture-on-container{
    height: 100px;
    width: 150px;
    margin: 2px;
}

.menu-button{
    padding: 5px;
    height: 70px;
    background-color: #ff6600;
    border: 2px solid #ff6600;
}

.output{ 
    margin-top: 10px;
    height: 90%;
}

.input{
    display: flex;
    height: 10%;
    margin: 5px;
    outline: 3px solid black;
}

.textarea-input{
    outline: none;
    height: 90%;
    width: 70%;
    resize: none;
    overflow-wrap: break-word;
}

.menu-textarea {
    outline: none;
    overflow-wrap: break-word;
    resize: none;
}

button{
    outline: none;
    font-size: 15px;
    font-family: fantasy; 
}

.input-button{
    opacity: 0.5;
    flex: 1 1 auto;
}

.message-container{
    margin-top: 10px;
    margin: auto;
    width: 90%;
    height: 95%;
    overflow-y: auto;
    overflow-wrap: break-word;
}

.message{
    color: #f8f18fc4;
    margin: auto;
    width: 90%;
    border-bottom: 3px solid #f8f18fc4;
    font-size: 20px;
    white-space: pre-wrap;
    position: relative;
    display: flex;
}

::-webkit-scrollbar{
    display: none;
}

.clicked{
    background-color: rgba(154, 205, 50, 0.5);
}


.messageButton{
    margin-top: 10px;
    margin: auto;
    width: 90%;
    height: 95%;
    overflow-y: auto;
    overflow-wrap: break-word;
}

.message-button-click{
    position: absolute;
    left: 92%;
    width: 23px;
    height: 23px;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/a/a2/Nuvola_apps_error.svg/768px-Nuvola_apps_error.svg.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.message-picture{
    width: 100%;
    height: 200px;
    outline: 3px solid #f8f18f;
}


