
.app{
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 600px;
    width: 350px;
    background-color: grey;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 3px solid black;
    border-radius: 3px;
    background-image: url(https://s.poembook.ru/theme/36/3a/ce/29b6ab581f5ec62bf07713c974000f5559ba74fb.jpeg);
}

.output{
    margin: 5px;
    height: 90%;
    overflow-y: auto;
    overflow-wrap: break-word;
}

.output-opacity{
    
    margin: 5px;
    height: 90%;
}

.input{
    display: flex;
    height: 10%;
    margin: 5px;
    outline: 3px solid black;
    

}

textarea{
    outline: none;
    height: 100%;
    width: 70%;
    resize: none;
    overflow-wrap: break-word;
}

button{
    width: auto;
    height: auto;
    flex: 1 1 auto;
    outline: none;
    opacity: 0.5;
    font-size: 15px;
    font-family: fantasy; 
}

button:active{
    opacity: 1;
    background: linear-gradient(#fffeb1, rgb(245, 178, 225));
    color: white;
}

.message-container{
    opacity: 1;
    width: 90%;
}

.message{
    color: #ffffffc4;
    margin: auto;
    width: 90%;
    border-bottom: 3px solid #ffffffc4;
    font-size: 20px;
    display: flex;
    position: relative;
}

::-webkit-scrollbar{
    display: none;
}

.clicked{
    background-color: rgba(154, 205, 50, 0.5);
}


.messageButton{
    display: none;
}

.message-button-click{
    position: absolute;
    left: 92%;
    width: 23px;
    height: 23px;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/a/a2/Nuvola_apps_error.svg/768px-Nuvola_apps_error.svg.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.app-picture{
    width: 100%;
    height: 25%;
}

*{
    margin: 0;
    padding: 0;
}

